<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="uui-side-bar" th:fragment="menu">
    <ul class="sidebar-menu">
        <li sec:authorize="hasRole('ROLE_USER')" th:classappend="${(#httpServletRequest.requestURL.toString().contains('movies') || #httpServletRequest.requestURL.toString().matches('movie/[0-9]')) ? 'active' : ''}">
            <a href="/movies" th:href="@{/movies}">
                <span>Movies</span>
            </a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" th:classappend="${(#httpServletRequest.requestURL.toString().contains('newmovie')) ? 'active' : ''}">
            <a href="/newmovie" th:href="@{/newmovie}">
                <span>Add movie</span>
            </a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a href="/logout" th:href="@{/logout}">
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>