header{position:fixed;left:0;top:0;z-index:1002;height:60px;width:100%;min-width:320px}
header .uui-header .brand-logo .logo img { vertical-align: top; width: auto; height: 34px; }

@media only screen and (min-width : 481px) {
   .flex-row.row {
	 display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;

     -webkit-flex-wrap: wrap;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
   }
   .flex-row.row > [class*='col-'] {
	 display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
	 flex-direction: column;
   }
  .flex-row.row:after,
  .flex-row.row:before {
	 display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
  }
}

.thumbnail {
    display: block;
    padding: 20px;
    margin-bottom: 20px;
    border: solid #ddd 1px;
    height: 100%;
}

.uui-pagination { text-align: center; margin-bottom: 30px; }

.wrapper { margin-bottom: -60px; }
.wrapper:after {
  content: "";
  display: block;
}
footer, .wrapper:after {
  height: 60px;
}

.poster { width: 110px; float:left; padding-right: 15px; }

.borderless, .borderless td, .borderless th {
    border: none; padding: 3px 5px !important; margin-bottom: 3px; border: none !important;
}

.borderless td:first-child { padding-left: 0 !important; }
.borderless td:last-child { padding-right: 0; }

.borderless td.range-cell { width: 250px; padding: 3px 15px !important; }
.no-padding {padding: 0;}